<section id="featured">
    <h2>Latest article</h2>
    <article>
      
        <h3>{{lastArticleToRender.title}}</h3>
        <p>
           {{lastArticleToRender.content}}
        </p>
        
        <div class="controls">
            <a href="/article?id={{lastArticleToRender.id}}">Read more</a>
        </div>
    </article>
</section>
<section id="recent">
    <h2>Recently added articles</h2>
    <ul>
        {{#each sideArticles}}
        <li>
            <a href="/article?id={{this._id}}">{{this.title}}</a>
        </li>
        {{/each}}
        
    </ul>
</section>


