<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
  {{>menu}}

  <div class="content">
    <img src="{{memePath}}" alt="">
    <h3>{{memeTitle}}</h3>
    <p> {{description}}
    </p>
    <button>
      <a href="{{memePath}}" download="{{filename}}.jpg">Download Meme</a>
    </button>
  </div>

</body>

</html>